*{
    margin: 0;
    padding: 0;
}

body{
    background-color: red;
    background-image: url('./assets/ChatGPT\ Image\ Apr\ 29\,\ 2025\,\ 11_19_36\ PM.png');
    background-size: cover;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

/* h1{
    font-size: 10vmin;
    color: #001219;
    text-shadow: 2px 2px 5px #000000;
} */

.cointainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.game{
    height: 60vmin;
    width: 70vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2vmin;
}

.box{
    background-color: rgba(0, 0, 0, 0.3);
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    font-size: 5vmin;
}

.control{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    flex-wrap: wrap;
    height: 10vh;
    width: 70vmin;
    columns: 2;
    gap: 1.5vmin;
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    height: 5vmin;
    width: 30vmin;
    border-radius: 1rem;
    font-weight: 1000;
    font-size: 1.5rem;
    text-shadow: 
        0 0 10px #80ffdb,
        0 0 20px #f72585,
        0 0 30px #80ffdb,
        0 0 40px #f72585,
        0 0 70px #80ffdb,
        0 0 100px #f72585;
}

.restart{
    border: none;
}

.info:hover{
    cursor: pointer;
    animation: neon-info 1.5s ease-in-out infinite alternate;
    transition: all 0.3s ease-in-out;
}

.box:hover{
    cursor: pointer;
    animation: neon-btn 1.5s ease-in-out infinite alternate;
    transition: all 0.3s ease-in-out;
}

.neon-text{
    color: #80ffdb;
    font-size: 10vmin;
    text-align: center;
    animation: neon-animation 1.5s ease-in-out infinite alternate;
}

.X{
    color: #f72585;
    font-size: 10vmin;
    text-align: center;
    animation: x-neon 1.5s ease-in-out infinite alternate;
}
.O{
    color: #80ffdb;
    font-size: 10vmin;
    text-align: center;
    animation: o-neon 1.5s ease-in-out infinite alternate;
}

@keyframes neon-animation{
    from{
        text-shadow: 
            0 0 5px #80ffdb,
            0 0 10px #80ffdb,
            0 0 20px #80ffdb,
            0 0 40px #80ffdb,
            0 0 80px #80ffdb,
            0 0 100px #80ffdb,
            0 0 200px #80ffdb;
    }to{
        text-shadow: 
            0 0 10px #f72585,
            0 0 20px #f72585,
            0 0 30px #f72585,
            0 0 40px #f72585,
            0 0 50px #f72585,
            0 0 60px #f72585,
            0 0 70px #f72585;
    }
}

@keyframes neon-btn{
    from{
        box-shadow: 
            0 0 5px #80ffdb,
            0 0 10px #80ffdb,
            0 0 20px #80ffdb,
            0 0 40px #80ffdb,
            0 0 80px #80ffdb,
            0 0 100px #80ffdb,
            0 0 200px #80ffdb;
    }to{
        box-shadow: 
            0 0 10px #f72585,
            0 0 20px #f72585,
            0 0 30px #f72585,
            0 0 40px #f72585,
            0 0 50px #f72585,
            0 0 60px #f72585,
            0 0 70px #f72585;
    }
}

@keyframes neon-info{
    from{
        box-shadow: 
        0 0 10px #4361ee,
        0 0 20px #4361ee,
        0 0 30px #4361ee,
        0 0 40px #4361ee,
        0 0 50px #4361ee,
        0 0 60px #4361ee,
        0 0 70px #4361ee;
    }to{
        box-shadow: 
        0 0 5px #560bad,
        0 0 10px #560bad,
        0 0 20px #560bad,
        0 0 40px #560bad,
        0 0 80px #560bad,
        0 0 100px #560bad,
        0 0 200px #560bad;
    }
}

@keyframes x-neon{
    from{
        text-shadow: 
            0 0 5px #ffffff,
            0 0 10px #ffffff,
            0 0 20px #ffffff,
            0 0 40px #ffffff,
            0 0 80px #ffffff,
            0 0 100px #ffffff,
            0 0 200px #ffffff;
    }to{
        text-shadow: 
            0 0 10px #f72585,
            0 0 20px #f72585,
            0 0 30px #f72585,
            0 0 40px #f72585,
            0 0 50px #f72585,
            0 0 60px #f72585,
            0 0 70px #f72585;
    }
}

@keyframes o-neon{
    from{
        text-shadow: 
            0 0 5px #ffffff,
            0 0 10px #ffffff,
            0 0 20px #ffffff,
            0 0 40px #ffffff,
            0 0 80px #ffffff,
            0 0 100px #ffffff,
            0 0 200px #ffffff;
    }to{
        text-shadow: 
            0 0 10px #80ffdb,
            0 0 20px #80ffdb,
            0 0 30px #80ffdb,
            0 0 40px #80ffdb,
            0 0 50px #80ffdb,
            0 0 60px #80ffdb,
            0 0 70px #80ffdb;
    }
}

@media (max-width: 450px) {
    #heading{
        margin: 20px 0 20px 0;
    }
    .cointainer{
        height : 45vh;
        margin : 0px 0 20px 0 
    }
    .game{
        width : 90%;
        height : 100%;
    }
    .box{
        height : 30%;
        width : 30%;
    }
    .control{
        width : 90%;
    }
    .info{
        width : 70%;
        margin: 10px 0 10px 0;
    }
    .restart{
        width : 70%;
    }   
}